.btn-clear {
  padding: var(--s-10) var(--s-36);
  color: var(--color-white);
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid var(--color-white);
  border-radius: 8px;
  letter-spacing: 2.5px;
}

.play-again {
  margin-top: var(--s-16);
  padding: var(--s-15) var(--s-64);
  background: var(--color-white-btn);
  color: var(--color-dark-text);
  letter-spacing: 2.5px;
  text-transform: uppercase;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.play-again:hover {
  color: var(--btn-outer-red);
}
