.rules-popup {
  height: 100%;
  width: 100%;
  padding: 5.9rem var(--s-32) 0;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: var(--color-white);
  background-image: url(../images/image-rules-bonus.svg);
  background-size: 85%;
  background-position: center center;
  background-repeat: no-repeat;

  & button {
    position: absolute;
    bottom: 75px;
    left: 50%;
    background: transparent;
    transform: translateX(-50%);
  }
}

@media (min-width: 600px) {
  .rules-popup {
    width: 400px;
    height: 415px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center 70%;
    border-radius: 8px;
    box-shadow: var(--shadow);
    padding: 2rem;

    & button {
      bottom: unset;
      left: unset;
      top: 2.5rem;
      right: 2rem;
    }
  }

  .rules-background {
    height: 115vh;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.5);
    position: absolute;
    top: 0;
    z-index: 1;
  }
}
